/* custom styles */
a:link, a:visited { color:#FF1385; }
a:hover { color:#12A0FF; }

img { max-height:500px;}

.subtle { color: #ccc; font-size:smaller; margin-bottom:5em;}

li { list-style: none; }

iframe {
  border: none;
  width: 100%;
  height: 80%;
}

.left {
  float: left;
  text-align: right;
}

.right {
  float: right;
}
